## 1Ô∏è‚É£ LIST

### ‚úÖ What is a List?

* A list is an **ordered collection** of items
* It is **mutable**, meaning we can change items
* Allows **duplicate values**
* Can store **different types** of data in one list

### üß™ Example:

In [1]:
fruits = ["apple", "banana", "mango", "apple"]
fruits # In jupyter notebook you can simply write the name of you variable it will automatically print.

['apple', 'banana', 'mango', 'apple']

### üîß Useful Operations:

In [2]:
fruits.append("grape")       # Add at the end
fruits

['apple', 'banana', 'mango', 'apple', 'grape']

In [3]:
fruits.insert(1, "orange")   # Add at index 1
fruits

['apple', 'orange', 'banana', 'mango', 'apple', 'grape']

In [4]:
fruits.remove("banana")      # Remove first occurrence
fruits

['apple', 'orange', 'mango', 'apple', 'grape']

In [5]:
fruits.pop()                 # Remove last item
fruits

['apple', 'orange', 'mango', 'apple']

In [6]:
fruits.sort()                # Sort list (only same types)
fruits

['apple', 'apple', 'mango', 'orange']

In [7]:
fruits.reverse()             # Reverse the list\

In [8]:
fruits # now this is new fruits list because list is mutable the methods affect on the original list.

['orange', 'mango', 'apple', 'apple']

### üîÅ Loop Through List:

In [9]:
for fruit in fruits:
    print(fruit) # this helps to print fruits name one by one.

orange
mango
apple
apple

## 2Ô∏è‚É£ TUPLE

### ‚úÖ What is a Tuple?

* A tuple is an **ordered collection** of items
* It is **immutable** (can‚Äôt change once created)
* Allows **duplicates**
* Good for **fixed data** like dates, coordinates, etc.

### üß™ Example:

In [10]:
dimensions = (1920, 1080) # tuples are created by these brackets"()".
# > ‚úÖ You can‚Äôt modify `dimensions` tuple once it's created.

### üß† Single-item Tuple:

In [11]:
single_value = ("python",)  # Comma is required
single_value # this give the element present in the tuple.

('python',)

### üîÅ Loop Through Tuple:

In [12]:
for dim in dimensions:
    print(dim) # this will give all elements one by one.

1920
1080

## 3Ô∏è‚É£ SET

### ‚úÖ What is a Set?

* A set is an **unordered collection** of **unique** items
* It is **mutable** (can be changed)
* Automatically removes **duplicates**
* Best used when you need **unique values**

### üß™ Example:

In [13]:
colors = {"red", "green", "blue", "red"}
colors

{'blue', 'green', 'red'}

### ‚ùó Creating an Empty Set:

In [14]:
empty_set = set()    # ‚úÖ Correct
empty_dict = {}      # ‚ùå This is a dictionary, not a set

type(empty_set)

set

In [15]:
type(empty_dict)

dict

### üîß Set Operations:

In [16]:
colors.add("yellow")
colors

{'blue', 'green', 'red', 'yellow'}

In [17]:
colors.discard("green") # Removes if present, no error if not
colors

{'blue', 'red', 'yellow'}

In [18]:
colors.remove("blue") # Removes, gives error if not found
colors

{'red', 'yellow'}

In [19]:
colors.clear() # Empty the set
colors

set()

### üîÅ Set Math:

In [20]:
a = {1, 2, 3}

In [21]:
b = {3, 4, 5}

In [22]:
print(a | b)     # Union ‚Üí {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [23]:
print(a & b)     # Intersection ‚Üí {3}

{3}

In [24]:
print(a - b)     # Difference ‚Üí {1, 2}

{1, 2}

In [25]:
print(a ^ b)     # Symmetric Difference ‚Üí {1, 2, 4, 5}

{1, 2, 4, 5}

## 4Ô∏è‚É£ DICTIONARY

### ‚úÖ What is a Dictionary?

* A dictionary is a collection of **key-value pairs**
* It is **unordered** (before Python 3.7)
* Keys must be **unique**
* Values can be anything (numbers, strings, lists, etc.)

### üß™ Example:

In [26]:
student = {
    "name": "Rahul",
    "age": 20,
    "subjects": ["Math", "Science"]
}
student

{'name': 'Rahul', 'age': 20, 'subjects': ['Math', 'Science']}

### üîÅ Loop Through Dictionary:

In [27]:
for key, value in student.items():
    print(f"{key} ‚Üí {value}")

name ‚Üí Rahul
age ‚Üí 20
subjects ‚Üí ['Math', 'Science']

### üîß Access / Modify:

In [28]:
print(student["name"])           # Access value
student["age"] = 21              # Update value
student["grade"] = "A"           # Add new key-value

Rahul

In [29]:
student # now this is a updated dictionary

{'name': 'Rahul', 'age': 21, 'subjects': ['Math', 'Science'], 'grade': 'A'}

### üßπ Remove Data:

In [30]:
student.pop("grade")
student

{'name': 'Rahul', 'age': 21, 'subjects': ['Math', 'Science']}

In [31]:
del student["age"]
student

{'name': 'Rahul', 'subjects': ['Math', 'Science']}

In [32]:
student.clear()                  # Empty dictionary
student

{}

## üìå Summary Table ‚Äì Quick Compare

| Feature           | List  | Tuple | Set            | Dictionary       |
| ----------------- | ----- | ----- | -------------- | ---------------- |
| Ordered           | ‚úÖ Yes | ‚úÖ Yes | ‚ùå No           | ‚úÖ (Python 3.7+)  |
| Mutable           | ‚úÖ Yes | ‚ùå No  | ‚úÖ Yes          | ‚úÖ Yes            |
| Allows Duplicates | ‚úÖ Yes | ‚úÖ Yes | ‚ùå No           | ‚ùå Keys, ‚úÖ Values |
| Indexed           | ‚úÖ Yes | ‚úÖ Yes | ‚ùå No           | ‚úÖ (by key)       |
| Syntax            | `[]`  | `()`  | `{}` / `set()` | `{key: value}`   |